@import '../../scss/variables';

.main {

    &__our-service {
        width: 100%;
    }
    &__our-service-list {
        display: flex;
        width: 100%;
        & li+li {
            margin-left: 30px;
        }
        & li {
            display: inline-block;
            max-width: 328px;
            width: 45%;
        }
    }
    &__btn-container {
        margin-bottom: 96px;
    }

}