@import './_reset';
@import './fonts';

*,*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 700;
}

.main-btn {
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
}